<div class="mt-4">
  <h3>Create</h3>
  <form method="post" action="/courses/store">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group">
      <label for="logo">Logo</label>
      <input type="text" class="form-control" id="logo" name="logo" />
    </div>
    <button class="btn btn-primary mt-4" type="submit">Create</button>
  </form>
</div>