<div class="mt-4">
  <form method="post">
    <div class="form-group">
      <label for="search-input">Email</label>
      <input
        id="search-input"
        name="email"
        class="form-control form-control-lg"
        type="text"
        placeholder="email"
        aria-label=".form-control-lg example"
      />

    </div>
    <div class="form-group">
      <label for="search-input">Password</label>
      <input
        id="search-input"
        name="password"
        class="form-control form-control-lg"
        type="text"
        placeholder="password"
        aria-label=".form-control-lg example"
      />

    </div>
    <button type="submit" class="btn btn-primary mt-4">Search</button>
  </form>

</div>